/* =================================
  Base Styles
==================================== */
* {
	box-sizing:border-box; border-box;}

* {
	font-family: 'Varela Round', sans-serif;
	color: #000;
  background color:#fff;
}





/* =================================
  Navigation
==================================== */
.nav {
	list-style-type: none;
	color:#fff;
 	}
li a {
	display: block;
	width: 60px;
}


/* =================================
  Header
==================================== */
.main_header {
	background-color:#00004c;
	float: left;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 30px;
}

/* =================================
  Body
==================================== */
.quiz {
	display:none;
}


/* =================================
  Quiz
==================================== */
 ul .quizPrintOut {
	list-style-type: none;
}

/* =================================
  Media Queries
==================================== */

@media (min-width : 768px) {
  .main_header {
    margin: 0 auto;
}

li {
	float: right;

}
li a {
	display: block;
}

@media (max-width : 1200px){}
}



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
