/* =================================
 Basic Page Styles
==================================== */
body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: .85em;
  background-color: blue;
}
#wrapper {
  margin: 0 auto;
  width: 920px;
}
#wrapper {
    margin-top: 0;
}

a {
  text-decoration: none;
}

/* =================================
 Header
==================================== */
#header {
  float: left;
  margin: 20px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 5px;
}

h1 {
  float: left;
  margin: 0;
  width: 400px;
  height: 90px;
  text-align: center;
  display: inline-block;
  color: blue;
  font-weight: bold;

}

#header h1 {
    font-variant: small-caps;
    font-size: 4em;
}

img {
  border-radius: 20px;
  float: left;
  display: inline-block;
}

/* =================================
Navigation
==================================== */

#nav {
  margin-top: 20px 5px;
  list-style: none;
  float: right;
}

#nav li {
  float: left;
  margin-left: 30px;
}

a {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  color: blue;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid;
}

a:hover, a:focus {
  color: #d2b14e;
  background: lightblue;
}


/* =================================
Content
==================================== */
img {
  max-width: 100%
}

#content {
  width: 65%;
  text-align: center;
}

#content h2 {
    font-size: 2em;
    color: #f0f0f0;
    text-align: center;
}

#content h3 {
    font-variant: small-caps;
    font-size: 2em;
    color: #fff;
    border-bottom: solid;
}

#wrapper button {
    color: #332f42;
    background-color: #f5f500;
    border-style: outset;
    font-size: 4em;
    font-variant: small-caps;
    border-width: 2px;
    border-color: #9e269e;
    border-radius: 20px;
    float: center;
}

/* =================================
  Quiz
==================================== */
#question1,
#question2 {
    font-size: 2em;
    font-weight: bold;
    background-color: #e0e04e;
    border-style: solid;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: o;
    padding-top: 2px;
    padding-left: 50px;
    padding-bottom: 2px;
    padding-right: 50px;
    text-align: center;
}

#question1 input,
#question2 input {
    border-style: solid;
    margin-bottom: 25px;
    margin-top: -15px;
    height: 2em;
    width: 15em;
}


/* =================================
  Quiz Print Out
==================================== */

/* =================================
  Media Queries
==================================== */

/*
@media (min-width : 768px) {
  .main_header {
    margin: 0 auto;
}

li {
	float: left;

}
li a {
	display: block;
}

@media (max-width : 1200px){}
}
*/



	/* ---- Float clearfix ---- */

/*
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
*/
